name: Generate REST API JSON

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Download cookie.json (secret)
        run: |
          curl -L "${{ secrets.COOKIE_URL }}" -o cookie.json

      - name: Download api.json (secret)
        run: |
          curl -L "${{ secrets.API_URL }}" -o api.json

      - name: Generate rest_api.json
        run: |
          jq -s '
            def get_cookie(n):
              (.[0][] | select(.name == n) | .cookie);

            [.[1][] 
              | .cookie = get_cookie(.name)
              | .mpd = (.mpd + "?" + get_cookie(.name))
            ]
          ' cookie.json api.json > rest_api.json

      - name: Commit & Push rest_api.json
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          git add rest_api.json
          git commit -m "Auto update rest_api.json" || echo "No changes"
          git push
